/* Popup design */
body {
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #123d54;
}
.group {
    width: 685px;
}
button {
	font-size: 14px !important;
	color: #123d54;		
    white-space: nowrap;
    margin: 0 8px 0 0 !important;
    cursor: pointer;
	padding: 2px !important;
}
.button_separator {
    height: 10px;
}
.title_button {
    white-space: nowrap;
    float: right;
    display: block;
    padding: 3px 4px 3px 4px;
    border: 1px solid #000;
    font-size: 14px !important;
    margin-left:2px;
}
.title_button:hover {
    background: #00498f;
}
.title_button span{
    float: left;
    margin-right: 3px;
}
h3 input.editable {   
    width: 400px;
    border: 0px solid #000;
    background: transparent;
    font-size: 16px;
    padding: 1px 4px 0px 4px;
    color: #fff;
    margin: 0;
    position: relative;
    top: -1px;
    line-height: 16px;
    height: 23px;    
}
h3 a.editable {
    cursor: text;
    height: 24px;
    overflow: hidden;
    max-width: 400px;
    display: block;
    float: left;    
}
.group h3 {
    height: 26px;
}
.fright {
    float: right;
}
label.fright {
    padding: 7px;
}
/* Overwrite jQueryUI */
.ui-accordion .ui-accordion-content {
    padding: 0
}
.ui-accordion .ui-accordion-header {
    padding: 2px;
}
.ui-accordion .ui-accordion-icons {
    padding-left: 31px;
}
.ui-icon-cancel {
    background-position: 0 -127px;
}