@import url('~@fontsource/roboto/300.css');
@import url('~@fontsource/roboto/400.css');
@import url('~@fontsource/roboto/500.css');
@import url('~@fontsource/roboto/700.css');

body {
    margin: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-y: scroll;
}

h1 {
    color: #007bff;
}

button {
    text-wrap: nowrap;
    margin: 5px;
}
